<h1 class="text-center g-mb-10">Listado de personas registradas</h1>

<!-- Divisor -->
<div class="u-divider u-divider-solid u-divider-center g-brd-gray-light-v3 g-my-80">
  <i class="fa fa-circle u-divider__icon g-bg-white g-color-gray-light-v3"></i>
</div>
<!-- End divisor -->

<div class="row justify-content-end">
  <%= link_to 'Nuevo', new_persona_path, class: 'btn btn-primary' %>
</div>
<!-- Hover Rows -->
<div class="card g-brd-darkpurple rounded-0 g-mb-10">
  <h3 class="card-header g-bg-darkpurple g-brd-transparent g-color-white g-font-size-16 rounded-0 mb-0">
    <i class="fa fa-user g-mr-5"></i>
    Listado de personas registradas
  </h3>

  <div class="table-responsive">
    <table class="table table-hover u-table--v1 mb-0">
      <thead>
        <tr>
          <th>Nro. Legajo</th>
          <th>Apellido</th>
          <th>Nombre</th>
          <th>DNI</th>
          <th>PDF DNI</th>
          <th>Vence DNI</th>
          <th>Fecha vencimiento</th>
          <th>Cuil</th>
          <th>PDF CUIL</th>
          <th>Fecha nacimiento</th>
          <th>PDF Nacimiento</th>
          <th>Nacionalidad</th>
          <th>Domicilio</th>
          <th>Telefono</th>
          <th>Empresa</th>
          <th>Acciones</th>
        </tr>
      </thead>

      <tbody>
      	<% @personas.each do |p| %>
	  		<tr>
	  			<td><%= p.num_legajo%></td>
	  			<td><%= p.apellido%></td>
	  			<td><%= p.nombre %></td>
	  			<td><%= p.dni%></td>
	  			<td>
	  			  <%= link_to '<i class="fa fa-file-pdf-o fa-2x" aria-hidden="true"></i>'.html_safe, 
                p.pdf_dni_path.url, target: '_blank'%>
          </td>
	  			<td><%= p.dni%></td>
	  			<td><%= p.fecha_nacimiento%></td>
	  			<td><%= p.cuil%></td>
	  			<td><%= p.cuil%></td>
	  			<td><%= p.fecha_nacimiento%></td>
	  			<td><%= p.fecha_nacimiento%></td>
	  			<td><%= p.nacionalidad%></td>
	  			<td><%= p.domicilio%></td>
	  			<td><%= p.telefono%></td>
	  			<td><%= p.empresa.nombre %></td>
	  			<td>
            <%= link_to '<i class="fa fa-pencil-square-o" aria-hidden="true"></i>'.html_safe, 
                edit_persona_path(p), class: 'btn btn-outline-primary',  :data => {:toggle => 'tooltip'}, title: 'Editar'  %>
            <%= link_to '<i class="fa fa-trash" aria-hidden="true"></i>'.html_safe, 
                p.pdf_dni_path.url, class: 'btn btn-outline-danger', :data => {:toggle => 'tooltip'}, title: 'Eliminar'   %>    
          </td>
	  		</tr>
      	<% end %>
      </tbody>
    </table>
  </div>
</div>
<!-- End Hover Rows -->