<%= form_for @marca, :html => {class: "g-brd-around g-brd-gray-light-v4 g-pa-30 g-mb-30"} do |form| %>

  <div class="form-group row g-mb-10">
    <%= form.label :marca, 'Tipo de vehiculo', class: "col-sm-2 col-form-label g-mb-10" %><br>
    <div class="col-sm-9">
      <%= form.text_field :marca, class: "form-control" %>
    </div>
  </div>
  <br>
  <p>
    <%= form.submit 'Registrar', class:"btn btn-success"%>
    <%= link_to 'Cancelar', root_path, class: "btn btn-danger" %>
  </p>

<% end %>